<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="">

    <title>ScrappyBook BETA</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/jumbotron-narrow.css" rel="stylesheet">
    <link href="/css/datepicker.css" rel="stylesheet">

  </head>

  <body>

    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="/events">All Events</a></li>
          <li><a href="/schools">Try SchoolRecorder</a></li>
        </ul>
        <h3 class="text-muted">Don't Miss Your Life</h3>
      </div>

      <div class="jumbotron">
        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading"><h1><%= @event.title %></h1></div>
          <div class="panel-body">
            <p><%= @event.date.strftime('%b %d %Y') %></p>
          </div>

          <!-- List group -->
          <ul class="list-group">
            <li class="list-group-item input-bottom"><%= @event.description %></li>
          </ul>
        </div>
        
        <div class="btn-group btn-group-justified">
          <a href="/events/<%= @event.id %>/edit"><button class="btn btn-success" style="width:33%;" type="button" id="back_button">Change</button></a>
           <a href="/events/<%= @event.id %>/delete"><button class="btn btn-danger" style="width:33%;" type="button" id="back_button">Delete</button></a>
          <a href="/events"><button class="btn btn-primary" type="button" id="back_button" style="width:33%;">Back</button></a>
        </div>
      </div>
      <div class="row">
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Remember something?">
            </div>
            <button type="submit" class="btn btn-default">Search</button>
          </form>
        </div>
        <div style="min-height:15px;"></div>

      <div class="footer">
        <p>&copy; ScrappyBook, David Hunt 2014</p>
      </div>

    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
