<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="">

    <title>Schoolio BETA</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/jumbotron-narrow.css" rel="stylesheet">
    <link href="/css/datepicker.css" rel="stylesheet">

  </head>

  <body>

    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="/schools">All Schools</a></li>
          <li><a href="/events/index">Try ScrappyBook</a></li>
        </ul>
        <h3 class="text-muted">School is Cool at Schoolio</h3>
      </div>

      <div class="jumbotron">
        <form class="form-signin" role="form" action="/schools/<%= @school.id %>" method="post">
          <h1>Change <%= @school.name %></h1>
          <input type="text" id="school_name" name="school[name]" value="<%= @school.name %>" class="form-control form-input add-separation" style="display:inline-block; width:70%; float:left;"/>
          In <select class="form-control" style="width:25%; display:inline-block;" id="school_state" name="school[state]">
            <option value="<%= @school.state %>"><%= @school.state %></option>
            <% School::STATES.each do |a| %>
            <% unless a == @school.state %>
            <option value="<%= a %>"><%= a %></option>
            <% end %>
            <% end %>
          </select>
          <div style="min-height:10px;"></div>
         From <select class="form-control" style="width:40%; display:inline-block;" id="school_year_begin" name="school[year_begin]">
            <option value="<%= @school.year_begin %>"><%= @school.year_begin %></option>
            <% School::YEARS.each do |a| %>
            <% unless a == @school.year_begin %>
            <option value="<%= a %>"><%= a %></option>
            <% end %>
            <% end %>
          </select>
          To <select class="form-control" style="width:40%; display:inline-block;" id="school_year_end" name="school[year_end]">
             <option value="<%= @school.year_end %>"><%= @school.year_end %></option>
            <% School::YEARS.each do |a| %>
            <% unless a == @school.state %>
            <option value="<%= a %>"><%= a %></option>
            <% end %>
            <% end %>
          </select>
          <button class="btn btn-lg btn-success btn-block add-separation" type="submit" name="_method" value="put">Save</button>
          <a href="/schools/<%= @school.id %>"><button class="btn btn-lg btn-primary btn-block" type="button" id="back_button">Cancel</button></a>


        </form>
      </div>
    
      <div class="footer">
        <p>&copy; Schoolio, David Hunt 2014</p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/datepicker.js"></script>
    <script type="text/javascript">
      $('#dpYears').datepicker();
    </script>
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
