<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Schoolio BETA</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/jumbotron-narrow.css" rel="stylesheet">

  </head>

  <body>

    <div class="container">
      <div class="header">

        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="/events">All Schools</a></li>
          <li><a href="/events">Try ScrappyBook</a></li>
        </ul>

        <h3 class="text-muted">School is Cool at Schoolio</h3>

      </div>

      <div class="jumbotron">
        <h1>Welcome to Schoolio</h1>
        <p class="lead">Track where and how you learn, then figure out how to do it better.</p>
        <p><a class="btn btn-lg btn-success" href="/schools/new" role="button">Add a School</a></p>
      </div>


      <div class="row marketing">
        <div class="col-lg-6">
        	<% @schools.each do |school| %>
          <h4><a href="/schools/<%= school.id %>"><%= school.name %></a> <%= school.state %></h4>
          <p><%= school.year_begin %> - <%= school.year_end %></p>
          <% end %>
        </div>
      </div>

      <div class="footer">
        <p>&copy; Schoolio, David Hunt 2014</p>
      </div>
     

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
